body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

footer {
    margin-top: auto;
}

.message_bar{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 90px;
    z-index: 10;
    animation:message_bar 3s 1;
    -webkit-animation:message_bar 3s 1;
    animation-fill-mode: forwards;
    animation-delay:3.5s;
    -webkit-animation-delay:3.5s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    } 
    @keyframes message_bar{
        from {opacity :1;}
        to {opacity :0;}
    }
    @-webkit-keyframes message_bar{
        from {opacity :1;}
        to {opacity :0;}
    }

    .nav-link.active {
        font-weight: bold;
    }